*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:cadetblue;
    color:rgb(27, 44, 45);
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin-left: 360px;
}


.new-task-form{
    display: flex;
}

input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

.new-task-input{
    flex: 1 1 0%;
    background-color: rgb(61, 97, 99);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: aquamarine;
}


.new-task-submit{
    color: rgb(4, 51, 54);
    cursor: pointer;
    font-size: 18px;
    background-color:  rgb(13, 78, 81);
    padding: 10px;
    border-radius: 5px;
}

main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 48, 49);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
}


.tasks .task .content{
    flex: 1 0 0%;
}

.tasks .task .content .text{
    color: rgb(201, 246, 231);
}

.tasks .task .actions .delete{
    color: red;    
    font-size: 16px;
    cursor: pointer;

}

.tasks .task .actions .edit{
    color: blueviolet;    
    font-size: 16px;
    margin-right: 15px;
    cursor: pointer;
}